body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
}
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}
  
.description {
    white-space: pre-wrap;
    padding: 10px;
}

.input-group {
    border: 1px transparent;
    border-radius: 10px;
    height: 30px;
}
  
.time-block {
    text-align: center;
    border-right: 1px solid black;
    padding: 10px;
    font-weight: bold;
}
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid black;
    border-top-right-radius: 5px;
}
  
.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
}
  
.past {
    background-color: #d3d3d3;
    color: black;
    text-decoration: line-through;
}
  
.present {
    background-color: #ff6961;
    color: black;
}
  
.future {
    background-color: #77dd77;
    color: black;
}

#clear-score {
    background-color: #06AED5;
    margin-top: 18px;
}

.task-list {
    margin-top: 10px;
}
  
.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #06AED5;
    color: white;
    font-size: 24px;
}
  
.saveBtn i:hover {
    font-size: 28px;
    transition: all .3s ease-in-out;
}
